.calculadora {
    background: rgb(173, 122, 11);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(207, 130, 14);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(180, 118, 25);
    color: black;
    cursor: pointer;
}
.spResultado{
    background: rgb(233, 154, 36);
    color: yellow;
    padding: 4px;
    margin: 2px;
}
